[project]
	description = My ideas
[access "refs/*"]
	owner = group user/Andrey Lomov (xandlom)
[access "refs/for/refs/*"]
	read = group user/Andrey Lomov (xandlom)
	push = group user/Andrey Lomov (xandlom)
	label-Code-Review = -2..+2 group user/Andrey Lomov (xandlom)
	label-Verified = -1..+1 group user/Andrey Lomov (xandlom)
	rebase = group user/Andrey Lomov (xandlom)
	removeReviewer = group user/Andrey Lomov (xandlom)
	submit = group user/Andrey Lomov (xandlom)
[access "refs/heads/*"]
	read = group user/Andrey Lomov (xandlom)
	create = group user/Andrey Lomov (xandlom)
	push = +force group user/Andrey Lomov (xandlom)
	pushMerge = group user/Andrey Lomov (xandlom)
[access "refs/tags/*"]
	push = +force group user/Andrey Lomov (xandlom)
	pushTag = group user/Andrey Lomov (xandlom)
	pushSignedTag = group user/Andrey Lomov (xandlom)
